@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500&display=swap&subset=latin-ext');
/* font-family: 'Oswald', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&display=swap');
/* font-family: 'Cinzel', serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
}

body {
    max-width: 2000px;
    margin: 0 auto;
    min-width: 200px;
}

/* ANIMATIONSs */
@keyframes slideDown {

    100% {
        transform: translate(0, 150%);
    }

}

@keyframes sliderGrow {

    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }

}


@keyframes imgGrowIn {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }

}

@keyframes imgGrowInDawid {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes anvil {
    0% {
        transform: translateX(100%)
    }

    100% {
        transform: translateX(0)
    }
}

@keyframes fallUp {
    0% {
        transform: translateY(-600%);

    }

    100% {
        transform: translateY(0);
    }
}

@keyframes showFromTop {
    0% {
        transform: translateY(-100%);

    }

    100% {
        transform: translateY(0);
    }
}

@keyframes hideFromTop {
    0% {
        transform: translateY(0);

    }

    100% {
        transform: translateY(-105%);
    }
}

@keyframes addBorderLink {
    0% {
        border-bottom: none;
    }

    100% {
        border-bottom: 1px solid white;
        font-weight: 700;
        transform: scale(1.1);
    }
}

@keyframes addBorderLinkBlack {
    0% {
        border-bottom: none;
    }

    100% {
        border-bottom: 1px solid black;
        font-weight: 700;
        transform: scale(1.1);
    }
}

@keyframes removalRight {
    0% {
        opacity: 1;
        display: flex;
        transform: translateX(0);

    }

    30% {
        transform: translateX(0) scale(.8);
        opacity: 1;

    }


    100% {
        opacity: 0;
        display: none;
        transform: translateX(-200%) scale(.8);

    }
}

@keyframes removalLeft {
    0% {
        opacity: 1;
        display: flex;
        transform: translateX(0);

    }

    30% {
        transform: translateX(0) scale(.8);
        opacity: 1;

    }


    100% {
        opacity: 0;
        display: none;
        transform: translateX(200%) scale(.8);

    }
}

@keyframes showInRight {
    0% {
        opacity: 1;
        display: flex;
        transform: translateX(200%) scale(.8);

    }

    55% {
        transform: translateX(0) scale(.8);

    }


    100% {
        display: flex;
        transform: translateX(0) scale(1);

    }
}

@keyframes showInLeft {
    0% {
        opacity: 1;
        display: flex;
        transform: translateX(-200%) scale(.8);

    }

    55% {
        transform: translateX(0) scale(.8);

    }


    100% {
        display: flex;
        transform: translateX(0) scale(1);

    }
}

@keyframes contactTextFadeIn {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}


.wrapStart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    flex-basis: 100vw;
    overflow: hidden;
    height: 100vh;
    /* background: rgb(30, 54, 93);
    background: linear-gradient(0deg, rgba(30, 54, 93, 1) 11%, rgba(15, 29, 55, 1) 53%, rgba(11, 25, 50, 1) 100%); */
    position: relative;

}

.nav {
    display: none;
    position: fixed;
    top: 0%;
    right: 0%;
    width: 10vw;
    z-index: 9999;
    width: 35%;
}

.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-left: 5%;
    padding: 15px 0;
    font-size: 15px;
}

.nav__element {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.nav__link {
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 0 auto;
    color: white;
    line-height: 30px;
    width: 100%;
    transition: .3s;
    border-bottom: 2px solid transparent;
}

.nav__link--black {
    color: black;
}

.nav__link--selected {
    animation: addBorderLink ease-in .4s;
    animation-fill-mode: forwards;
}

.nav__link--selected.nav__link--black {
    animation: addBorderLinkBlack ease-in .4s;
    animation-fill-mode: forwards;
}

.nav__link:hover {
    font-weight: 700;
    transform: scale(1.1);
}


/* HAMBURGER NAV */

.navBurger {
    display: none;
    transform: translateY(-100%);
    position: fixed;
    top: unset;
    right: unset;
    width: 100vw;
    height: 60vh;
    background-color: white;
    z-index: 9999;
    -webkit-box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
}

.navBurger__show {
    animation: showFromTop 1s;
    animation-fill-mode: forwards;
}

.navBurger__hide {
    animation: hideFromTop 1s;
    animation-fill-mode: forwards;
}

.navBurger__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    padding: 0;
    font-size: 25px;
}

.navBurger__element {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 12vh;
}

.navBurger__element:hover .navBurger__link {
    font-weight: 700;
    transform: scale(1.1);
}

.navBurger__link {
    color: black;
    width: 100%;
    transition: .3s;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    height: 100%;
    line-height: 12vh;
}

.navBurger__logo {
    height: 60%;
}


/* hamburger icon */

.navBurger__box {
    border-radius: 2px;
    position: fixed;
    top: 5%;
    right: 1%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.navBurger__box {
    position: fixed;
    top: 5%;
    right: 1%;
    transform: translate(-50%, -50%);
    width: 35px;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

.navBurger__span {
    display: block;
    width: 100%;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    height: 4px;
    background: #222;
    transition: all .3s;
    position: relative;
}

.navBurger__span--black {
    background: #222 !important;
}

.navBurger__span--white {
    background: white;
}

.navBurger__span+.navBurger__span {
    margin-top: 4px;
}

.navBurger__btn--active .navBurger__span:nth-child(1) {
    animation: ease .7s top forwards;
}

.navBurger__btn--notActive .navBurger__span:nth-child(1) {
    animation: ease .7s top-2 forwards;
}

.navBurger__btn--active .navBurger__span:nth-child(2) {
    animation: ease .7s scaled forwards;
}

.navBurger__btn--notActive .navBurger__span:nth-child(2) {
    animation: ease .7s scaled-2 forwards;
}

.navBurger__btn--active .navBurger__span:nth-child(3) {
    animation: ease .7s bottom forwards;
}

.navBurger__btn--notActive .navBurger__span:nth-child(3) {
    animation: ease .7s bottom-2 forwards;
}


@keyframes top {
    0% {
        top: 0;
        transform: rotate(0);
    }

    50% {
        top: 4px;
        transform: rotate(0);
    }

    100% {
        top: 4px;
        transform: rotate(45deg);
    }
}

@keyframes top-2 {
    0% {
        top: 4px;
        transform: rotate(45deg);
    }

    50% {
        top: 4px;
        transform: rotate(0deg);
    }

    100% {
        top: 0;
        transform: rotate(0deg);
    }
}

@keyframes bottom {
    0% {
        bottom: 0;
        transform: rotate(0);
    }

    50% {
        bottom: 12px;
        transform: rotate(0);
    }

    100% {
        bottom: 12px;
        transform: rotate(135deg);
    }
}

@keyframes bottom-2 {
    0% {
        bottom: 12px;
        transform: rotate(135deg);
    }

    50% {
        bottom: 12px;
        transform: rotate(0);
    }

    100% {
        bottom: 0;
        transform: rotate(0);
    }
}

@keyframes scaled {
    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes scaled-2 {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@media (orientation:landscape) {
    .navBurger {
        height: 100vh;
    }

    .navBurger__element {
        height: 20vh;
    }

    .navBurger__link {
        line-height: 20vh;
    }

    .navBurger__box {
        top: 7%;
    }
}


.columnImages {
    width: 100vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.columnImages__imgChair {

    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    animation: imgGrowIn linear 8s;
    animation-fill-mode: forwards;
}

.columnTexts {
    width: 100vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: 'Cinzel', serif;
    font-weight: 400;
}

.columnTexts__imgLogo {
    width: 50%;
    margin: 20px 0 10px;
}

.columnTexts__blockTypography {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.columnTexts_wrapTittle {
    width: 100%;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-bottom: 10px;
}

.columnTexts_wrapTittle--white {
    background-color: #0b0b0d;
    margin-bottom: -5%;
}

.columnTexts_title {
    font-size: 18px;
    font-weight: 700;
    width: 80%;
    color: white;
}

.columnTexts__descriptionText {
    font-size: 14px;
    width: 80%;
    text-align: center;
}

.columnTexts__descriptionText--larger {
    display: none;
}

.columnTexts__bold {
    font-weight: 700;
}

.columnTexts_button {
    border-radius: 10px;
    background-color: black;
    color: white;
    width: 100px;
    height: 33px;
    font-size: 11px;
    font-weight: 600;
    margin-top: 20px;
    transition: .3s;
    cursor: pointer;
    margin-bottom: 20px;
    letter-spacing: .5px;
}

.columnTexts_buttonWrap {
    position: absolute;
    left: 50%;
    bottom: 2%;
    transform: translate(-50%, -50%);
    width: 100vw;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(11, 11, 13, 1) 50%, rgba(255, 255, 255, 0) 100%);
    margin: 0 auto;
}

.columnTexts_button--white {
    margin: 10px !important;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    opacity: 1;
    vertical-align: center;
}

.columnTexts_button:hover {
    color: black;
    background-color: white;
    border: 2px solid #222;
}

.columnTexts_button--white:hover {
    color: black;
    background-color: white;

}


/* SLIDE DOWN ICON */
.slideDown {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: hidden;
    text-align: center;
}

.icon {
    width: 60px;
    color: white;
    transform: scaleX(2);
    animation: slideDown 1.7s linear infinite;
}

@media (orientation: portrait) and (max-width: 320px) {
    .columnImages {
        width: 100vw;
        height: 40vh;
    }

    .columnTexts {
        width: 100vw;
        height: 60vh;
    }

    .columnTexts__imgLogo {
        margin: 15px;
    }

    .columnTexts_title {
        font-size: 16px;
    }

    .columnTexts_button {
        margin-top: 15px;
    }

    .columnTexts_buttonWrap {
        bottom: 2%;
    }
}

@media (orientation: portrait) and (max-height: 450px) {

    .columnTexts_buttonWrap {
        display: none;
    }
}

@media (orientation: portrait) and (min-height: 567px) {

    .columnTexts_buttonWrap {
        bottom: 3%;
    }
}

@media (orientation: portrait) and (min-width: 720px) {
    .columnTexts__imgLogo {
        margin: 30px;
        width: 50%;
    }

    .columnTexts_wrapTittle {
        margin-bottom: 12px;
    }

    .columnTexts_title {
        font-size: 30px;
    }

    .columnTexts_buttonWrap {
        bottom: 5%;
    }

    .columnTexts__descriptionText {
        font-size: 18px;
        width: 70%;
        text-align: center;
    }

    .columnTexts_button {
        margin-top: 30px;
        width: 120px;
        height: 40px;
        font-size: 13px;
    }
}

@media (orientation: portrait) and (min-width: 1024px) {
    .columnTexts__imgLogo {
        margin: 50px;
        width: 50%;
    }

    .columnTexts_wrapTittle {
        margin-bottom: 30px;
    }

    .columnTexts_title {
        font-size: 35px;
    }


    .columnTexts__descriptionText {
        font-size: 24px;
        width: 70%;
    }

    .columnTexts_button {
        margin-top: 30px;
        width: 180px;
        height: 60px;
        font-size: 20px;
    }
}


@media (orientation: landscape) {

    .wrapStart {
        flex-direction: row;
        flex-direction: row-reverse;
    }

    .columnImages {
        width: 50vw;
        height: 100vh;
        flex-direction: row;
        background-color: #222;
    }

    .columnImages__imgChair {
        width: 100%;
    }

    .columnTexts {
        width: 50vw;
        height: 100vh;
        flex-direction: row;
    }

    .columnTexts__imgLogo {
        width: 50%;
        margin: 20px;

    }

    .columnTexts__blockTypography {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
    }

    .columnTexts_title {
        font-size: 16px;
        font-weight: 700;
        width: 80%;
    }

    .columnTexts__descriptionText {
        font-size: 14px;
        width: 80%;
        text-align: center;


    }


    .wrapStart__slideDown {
        left: 75%;
        transform: translate(-50%, 0);
    }
}

@media (orientation: landscape) and (max-height: 320px) {

    .columnImages {
        width: 40vw;
    }

    .columnTexts {
        width: 60vw;
    }

    .columnTexts_title {
        font-size: 16px;
    }

    .columnTexts__descriptionText {
        font-size: 14px;
        text-align: center;
        line-height: 15px;
    }

    .columnTexts__imgLogo {
        margin-bottom: 20px;
    }

    .columnTexts_button {
        margin-top: 20px;
    }
}

@media (orientation: landscape) and (min-width: 1024px) {

    .nav {
        display: block;
        margin-right: 30px;
    }

    .navBurger__box {
        display: none;
    }

    .columnTexts__imgLogo {
        margin: 30px;
        width: 50%;
    }

    .columnTexts_wrapTittle {
        margin-bottom: 20px;
    }

    .columnTexts_title {
        font-size: 22px;
    }


    .columnTexts__descriptionText {
        font-size: 15px;
        width: 70%;
        text-align: justify;
    }

    .columnTexts__descriptionText--larger {
        display: block;
    }

    .columnTexts_button {
        margin-top: 50px;
        width: 120px;
        height: 40px;
        font-size: 13px;
    }
}

@media (orientation: landscape) and (min-width: 1366px) {


    .columnTexts_wrapTittle {
        margin-bottom: 40px;
    }

    .columnTexts {
        margin-top: -50px;
    }

    .columnTexts__imgLogo {
        margin-bottom: 60px;
        margin-top: 0;
    }

    .columnImages__imgChair {
        position: absolute;
        top: 50%;
        left: 50%;
        right: inherit;
        bottom: inherit;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;

    }

    .columnImages {
        width: 50vw;
        max-width: 50vw;
    }

    .columnTexts {
        width: 50vw;
        z-index: 999;
        background-color: white;
        height: 102vh;
    }

    @keyframes imgGrowIn {
        0% {
            transform: translate(-50%, -50%) scale(1);
        }

        100% {
            transform: translate(-50%, -50%) scale(1.1);
        }

    }

    .columnTexts_title {
        font-size: 30px;
    }


    .columnTexts__descriptionText {
        font-size: 20px;
        width: 70%;
    }

    .columnTexts_button {
        margin-top: 30px;
        margin-bottom: 0;
        width: 165px;
        height: 55px;
        font-size: 16px;
    }

    .columnTexts_button:hover {
        border: 2px solid #222;
    }
}


/* SECTION ABOUT */

.wrapAbout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    flex-basis: 100vw;
    overflow: hidden;
    height: 100vh;
    position: relative;
    background-color: #0b0b0d;
}

.columnImagesAbout {
    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.columnTextsAbout {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Cinzel', serif;
    font-weight: 400;
    color: white;
}

.columnImagesAbout__imgDawid {
    position: absolute;
    width: 100%;
    top: -10px;
}

.columnImagesAbout__imgDawid--active {
    animation: imgGrowInDawid linear 8s;
    animation-fill-mode: forwards;
}

.columnImagesAbout__absoluteTexts {
    position: absolute;
    right: 2%;
    top: 30%;
    font-size: 20px;
    color: white;
    transform: rotate(90deg);
    font-weight: 700;
    z-index: 999;
}

.columnImagesAbout__text {
    display: block;
    text-align: center;
}

.columnImagesAbout__text--large {
    opacity: 0;
    color: #343338;
}

.columnImagesAbout__text--large.columnImagesAbout__text--fadeIn {
    animation-delay: 0s;
}



.columnImagesAbout__text--mid {
    opacity: 0;
    color: #343338;
}

.columnImagesAbout__text--mid.columnImagesAbout__text--fadeIn {

    animation-delay: 1s;
}

.columnImagesAbout__text--small {
    opacity: 0;
    color: #616064;
}

.columnImagesAbout__text--small.columnImagesAbout__text--fadeIn {
    animation-delay: 2s;
}

.columnImagesAbout__text--fadeIn {
    animation: fadeIn 3s;
    animation-fill-mode: forwards;
}

.columnTextsAbout__imgLogo {
    margin: 0 auto;
    width: 80%;
    margin-top: 20px;
    transform: translateX(200%);
}

.columnTextsAbout__imgLogo--active {
    animation: anvil .5s;
    animation-fill-mode: forwards;
}



.columnTextsAbout__wrapIcons {
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.columnTextsAbout_icon {
    margin: 10px 10px 0 10px;
    transition: .3s;
}

.columnTextsAbout_icon:hover {
    transform: scale(1.2);
    cursor: pointer;
}


.columnTextsAbout__blockTypography {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 70%;
}

.columnTextsAbout_title {
    font-size: 60px;
    font-family: 'Cinzel', serif;
    font-weight: 700;
    margin-bottom: 5px;
    transform: translateY(-600%);
}

.columnTextsAbout_title--active {
    animation: fallUp 1s;
    animation-fill-mode: forwards;
    animation-delay: .2s;
}

.columnTextsAbout__descriptionText {
    font-size: 12px;
    text-align: center;
    transform: translateY(-600%);
}

.columnTextsAbout__descriptionText--active {
    animation: fallUp 1s;
    animation-fill-mode: forwards;
}

@media (orientation: portrait) and (min-width: 321px) {

    .columnImagesAbout__absoluteTexts {
        right: 5%;
    }

}


@media (orientation: portrait) and (min-width: 375px) {

    .columnTextsAbout_title {
        font-size: 70px;
    }

}


@media (orientation: portrait) and (min-height: 600px) {

    .columnTextsAbout_title {
        font-size: 70px;
    }

    .columnTextsAbout__descriptionText {
        font-size: 13px;
    }


    .columnImagesAbout {
        height: 50vh;
    }

    .columnTextsAbout {
        height: 50vh;
    }
}

@media (orientation: portrait) and (min-width: 768px) {

    .columnTextsAbout__blockTypography {
        width: 60%;
    }

    .columnTextsAbout_title {
        font-size: 120px;
        margin-bottom: 10px;
    }

    .columnTextsAbout__descriptionText {
        font-size: 18px;
        text-align: justify;
    }

    .columnTexts_wrapTittle--white {
        margin-bottom: -5%;
    }

    .columnTextsAbout__imgLogo {
        width: 90%;
        margin-top: 40px;
    }

    .columnTextsAbout__wrapIcons {
        font-size: 40px;
        bottom: 20px;
        right: 50px;
    }

    .columnImagesAbout__absoluteTexts {
        right: 5%;
        font-size: 35px;
    }

}

@media (orientation: portrait) and (min-width: 1024px) {

    .columnTextsAbout__blockTypography {
        width: 70%;
    }

    .columnTextsAbout_title {
        font-size: 180px;
        margin-bottom: 10px;
    }

    .columnTextsAbout__descriptionText {
        font-size: 25px;
        text-align: justify;
    }

    .columnTextsAbout__imgLogo {
        width: 90%;
        margin-top: 40px;
    }

    .columnTextsAbout__wrapIcons {
        font-size: 60px;
        bottom: 40px;
        right: 50px;
    }

    .columnTextsAbout_icon {
        margin: 20px 20px 0 20px;
    }

    .columnImagesAbout__absoluteTexts {
        right: 5%;
        font-size: 45px;
    }

}

@media (orientation: landscape) {

    .wrapAbout {
        flex-direction: row;
        position: relative;
    }

    .columnImagesAbout {
        width: 50vw;
        height: 100vh;
    }

    .columnTextsAbout {
        width: 50vw;
        height: 100vh;
    }

    .columnImagesAbout__imgDawid {
        position: absolute;
        top: unset;
        bottom: 0;
        left: 0;
    }

    .columnTextsAbout__imgLogo {
        margin: 0 auto;
        width: 80%;
        margin-top: 20px;
    }

    .columnTextsAbout_title {
        font-size: 50px;
        font-family: 'Cinzel', serif;
        font-weight: 700;
        margin-bottom: 5px;
    }

    .columnTextsAbout__descriptionText {
        font-size: 12px;
        text-align: center;
    }

    .columnTexts_buttonWrap {
        left: 0;
        transform: translate(0, -50%);
        width: 50vw;
    }

    .columnTextsAbout__wrapIcons {
        font-size: 20px;
        bottom: 10px;
        left: 20px;
        right: unset;
    }

    .columnTextsAbout_icon {
        margin: 10px 10px 0 10px;
    }
}

@media (orientation: landscape) and (min-width: 640px) {

    .columnTextsAbout_title {
        font-size: 60px;
        margin-bottom: 5px;
    }

    .columnTextsAbout__descriptionText {
        font-size: 12px;
        text-align: justify;
    }

    .columnTextsAbout__imgLogo {
        width: 90%;
        margin-top: 20px;
    }

}

@media (orientation: landscape) and (max-height: 411px) {

    .columnImagesAbout__imgDawid {
        position: absolute;
        top: 0;
        bottom: unset;
    }

}

@media (orientation: landscape) and (min-width: 1024px) {

    .columnTextsAbout__blockTypography {
        width: 60%;
        margin-right: 25%;
    }

    .columnTextsAbout_title {
        font-size: 85px;
        margin-bottom: 20px;
    }

    .columnTextsAbout__descriptionText {
        font-size: 16px;
    }

    .columnTextsAbout__imgLogo {
        margin-top: 40px;
    }

    .columnTexts_wrapTittle--white {
        margin-bottom: -10%;
    }


    .columnTextsAbout__wrapIcons {
        font-size: 30px;
        bottom: 20px;
        left: 30px;
    }

    .columnTextsAbout_icon {
        margin: 10px 20px 0 20px;
    }

    .columnImagesAbout__absoluteTexts {
        right: 5%;
        top: 45%;
        font-size: 30px;
    }

}

@media (orientation: landscape) and (min-width: 1280px) {

    .columnTexts_wrapTittle--white {
        margin-bottom: -5%;
    }


    .columnTextsAbout_title {
        font-size: 110px;
    }

    .columnTextsAbout__descriptionText {
        font-size: 18px;
    }

    .columnImagesAbout__absoluteTexts {
        top: 40%;
        font-size: 35px;
    }

}


@media (orientation: landscape) and (min-width: 1600px) {

    .columnTextsAbout__blockTypography {
        width: 50%;
        margin-right: 30%;
    }

    .columnImagesAbout__imgDawid {
        position: absolute;
        top: unset;
        bottom: 0;
        left: unset;
        width: 80%;
    }

    .columnTextsAbout_title {
        font-size: 130px;
    }

    .columnTextsAbout__descriptionText {
        font-size: 18px;
    }

    .columnTextsAbout__imgLogo {
        margin-top: 60px;
    }

    .columnImagesAbout__absoluteTexts {
        top: 43%;
        font-size: 40px;
        right: 20%;
    }

}

/* SECTION PLAN */

.wrapPlan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 100vw;
    overflow: hidden;
    height: 100vh;
    position: relative;
}

.planDescription {
    width: 100vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.planDescription__logo {
    margin-top: 50px;
    width: 50%;
}

.planDescription__title {
    font-size: 16px;
    margin: 10px;
    font-weight: 300;
}

.planDescription__hl {
    width: 90%;
    color: #222;
}

.offer {
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offer__option {
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 90%;
    position: relative;
}

.offer__option--removalRight {
    display: flex;
    position: absolute;
    animation: removalRight 2s;
    animation-fill-mode: forwards;
}

.offer__option--removalLeft {
    display: flex;
    position: absolute;
    animation: removalLeft 2s;
    animation-fill-mode: forwards;
}

.offer__option--showInRight {
    display: flex;
    position: absolute;
    animation: showInRight 3s;
    animation-fill-mode: forwards;
}

.offer__option--showInLeft {
    display: flex;
    position: absolute;
    animation: showInLeft 3s;
    animation-fill-mode: forwards;
}

.offer__title {
    font-size: 30px;
}

.offer__price {
    font-size: 60px;
    font-weight: 700;
    margin-top: -10px;
}

.offer__currency {
    display: block;
    text-align: center;
    font-size: 25px;
    margin-top: -20px;
}

.offer__logoElement {
    width: 70%;
}

.offer__description {
    font-size: 13px;
    width: 70%;
    margin: 20px 0 10px;
}

.offer_verticalLine {
    position: absolute;
    border-left: 1px solid #222;
    height: 70%;
    opacity: .1;
}

.offer_verticalLine--left {
    right: 8%;
}

.offer_verticalLine--right {
    left: 8%;
}

.offer__option--active {
    display: flex;
}

.offer__navigations {
    display: flex;
    justify-content: center;
    align-items: center;

}

.offer__navigation {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #c2c2c2;
    opacity: 0;
    width: 50px;
    height: 200px;
    line-height: 200px;
    text-align: center;
}

.offer__navigation--right {
    right: 0%;
    animation: sliderGrow 3s infinite;
}


.offer__navigation--left {
    left: 0%;
    animation: sliderGrow 3s infinite;
}

.offer__navigation--active {
    cursor: pointer;
    opacity: 1;
    display: block;
}


@media (orientation: portrait) and (max-height: 568px) {
    .planDescription {
        display: none;
    }

    .offer {
        height: 100vh;
    }
}

@media (orientation: portrait) and (min-width: 768px) {

    .planDescription__logo {
        margin-top: 80px;
        width: 40%;
    }

    .offer__logoElement {
        width: 50%;
    }

    .planDescription__title {
        font-size: 35px;
        margin: 20px;
    }

    .offer__title {
        font-size: 60px;
    }

    .offer__price {
        font-size: 100px;
        font-weight: 700;
        margin-top: -10px;
    }

    .offer__currency {
        font-size: 35px;
    }

    .offer__description {
        font-size: 18px;
        margin-top: 20px;
    }

    .offer__navigation {
        width: 100px;
        height: 300px;
        line-height: 300px;
    }

}

@media (orientation: portrait) and (min-width: 1024px) {

    .offer__logoElement {
        width: 55%;
    }

    .planDescription__title {
        font-size: 50px;
        margin: 20px;
    }

    .offer__title {
        font-size: 75px;
    }

    .offer__price {
        font-size: 120px;
    }

    .offer__currency {
        font-size: 50px;
    }

    .offer__description {
        font-size: 25px;
        margin: 20px 0;

    }

    .offer__navigation {
        width: 130px;
        height: 400px;
        line-height: 400px;
        font-size: 45px;
    }

}



@media (orientation: landscape) {

    .wrapPlan {
        flex-direction: row;
    }

    .planDescription {
        width: 0vw;
        height: 100vh;
    }


    .offer {
        width: 100vw;
        height: 100vh;
    }

    .offer__option {
        width: 70%;
    }

    .offer__title {
        font-size: 27px;
    }

    .offer__price {
        font-size: 50px;
    }

    .offer__currency {
        font-size: 20px;
    }

    .offer__logoElement {
        width: 50%;
    }

    .offer__description {
        font-size: 13px;
        width: 90%;
    }

    .offer__option--active {
        display: flex;
    }

    .offer__navigation {
        top: 30%;
        transform: translate(-50%, -50%);
        width: 100px;
    }

    .offer_verticalLine--left {
        right: -3%;
    }

    .offer_verticalLine--right {
        left: -3%;
    }


}


@media (orientation: landscape) and (min-width: 768px) {

    .wrapPlan {
        flex-direction: column;
    }

    .planDescription {
        width: 100vw;
        height: 35vh;
    }

    .planDescription__logo {
        width: 20%;
    }

    .planDescription__title {
        font-size: 30px;
    }

    .planDescription__hl {
        width: 80%;
        margin-bottom: 100px;
    }

    .offer {
        width: 80vw;
        height: 50vh;
    }

    .offer__option {
        width: 70%;
    }

    .offer__title {
        font-size: 40px;
    }

    .offer__price {
        font-size: 70px;
    }

    .offer__currency {
        font-size: 30px;
    }

    .offer__logoElement {
        width: 40%;
    }

    .offer__navigation {
        top: 40%;
        transform: translate(-50%, -50%);
        width: 200px;
        height: 300px;
        line-height: 300px;
        font-size: 50px;
    }

    .offer__navigation--right {
        right: 0%;
    }


    .offer__navigation--left {
        left: 0%;
    }

    .offer_verticalLine--left {
        right: 0%;
    }

    .offer_verticalLine--right {
        left: 0%;
    }
}



@media (orientation: landscape) and (min-width: 1366px) {

    .offer__option--removalRight {
        animation: none;
        position: static;
    }

    .offer__option--removalLeft {
        animation: none;
        position: static;
    }

    .offer__option--showInRight {
        animation: none;
        position: static;
    }

    .offer__option--showInLeft {
        animation: none;
        position: static;
    }

    .planDescription {
        width: 100vw;
        height: 40vh;
    }

    .planDescription__logo {
        width: 10%;
    }

    .planDescription__title {
        font-size: 30px;
    }

    .planDescription__hl {
        width: 50%;
    }

    .offer {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 90vw;
        height: 60vh;
        margin-bottom: 100px;
    }

    .offer__option {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 30%;
    }

    .offer__title {
        font-size: 40px;
    }

    .offer__price {
        font-size: 70px;
    }

    .offer__currency {
        font-size: 30px;
    }

    .offer__logoElement {
        width: 40%;
    }

    .offer__description {
        font-size: 17px;
        width: 70%;
    }

    .offer__navigation {
        display: none;
    }



    .offer__option--quick>.offer_verticalLine--right {
        display: none;
    }

    .offer__option--gentle>.offer_verticalLine--left {
        display: none;
    }


}

@media (orientation: landscape) and (max-height: 600px) {
    .planDescription {
        display: none;
    }
}


/*  CONTACT SECTION */

.map {
    position: absolute;
    bottom: 0;
    height: 45vh;
    width: 100vw;
    opacity: .8;
    z-index: 999;
}

.wrapContact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    flex-basis: 100vw;
    overflow: hidden;
    height: 100vh;
    position: relative;
    background-color: #0b0b0d;
}

.columnMapContact {
    width: 100vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #222;
}

.columnTextsContact__imgSaloon {
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    left: -60%;
    right: 0;
    bottom: 0;
    height: 150%;
    opacity: .2;
}

.columnTextsContact {
    width: 100vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Cinzel', serif;
    font-weight: 400;
    color: white;
    font-size: 20px;
    position: relative;
    z-index: 999;
    opacity: .8;
}

.columnTextsContact--active {
    animation: contactTextFadeIn 2s;
    animation-fill-mode: forwards;
}

.columnTextsContact__logo {
    opacity: 0;
    width: 40%;
    margin-bottom: 20px;
}

.columnTextsContact__hl {
    opacity: 0;
    width: 90%;
    color: white;
    opacity: .2;
    margin-bottom: 20px;
}

.columnTextsContact__addressStreet,
.columnTextsContact__addressTown,
.columnTextsContact__addressTel {
    margin: 3px;
    opacity: 0;
}

.columnTextsContact__icons {
    margin: 10px;
    opacity: 0;
}

.columnTextsContact_icon {
    margin: 5px;
    cursor: pointer;
    transition: .3s;
}

.columnTextsContact_icon:hover {
    transform: scale(1.1);
}

.columnTextsContact__bold {
    font-weight: 700;
}

@media (orientation:portrait) and (min-width:768px) {
    .columnTextsContact {
        font-size: 30px;

    }
}

@media (orientation:portrait) and (min-width:1024px) {
    .columnTextsContact {
        font-size: 40px;

    }

    .columnTextsContact__logo {
        margin-bottom: 40px;
    }

    .columnTextsContact__hl {
        opacity: .4;
        margin-bottom: 40px;
    }

    .columnTextsContact__addressStreet,
    .columnTextsContact__addressTown,
    .columnTextsContact__addressTel {
        margin: 8px;
    }

    .columnTextsContact__icons {
        margin: 15px;
    }

    .columnTextsContact_icon {
        margin: 15px;
    }
}

@media (orientation:landscape) {
    .map {
        position: absolute;
        bottom: 0;
        height: 100vh;
        width: 45vw;
        opacity: .7;
    }

    .wrapContact {
        flex-direction: row;
    }

    .columnMapContact {
        width: 45vw;
        height: 100vh;
    }

    .columnTextsContact {
        width: 55vw;
        height: 100vh;
    }

}

@media (orientation:landscape) and (min-width:1024px) {
    .columnTextsContact {
        font-size: 30px;
    }

    .columnTextsContact__logo {
        margin-bottom: 40px;
    }

    .columnTextsContact__hl {
        opacity: .4;
        margin-bottom: 40px;
    }
}

@media (orientation:landscape) and (min-width:1366px) {
    .columnTextsContact__imgSaloon {
        display: block;
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        height: 130%;
        opacity: .2;
    }
}